{% extends "base.html" %}

{% block title %}About Us{% endblock %}
{% block content %}
<p>Step2 came up because we saw a problem. One we thought shouldn't be there.</p>
<p>There is an enormous amount of talent available in the student community. We know that properly guided, student groups can produce industrial quality work. Somehow, that's not happening. "Why?", we wondered. And we saw the gap. There was no channel for people who pass out of colleges and become industry professionals to come back and share their knowledge. Step2 is that channel.</p>
<p>Its a mentorship model that tries to bridge the gap between academia and industry. We aim to channel this pool of talent towards targeted industrial strength projects. Each project has a dedicated mentor to provide guidance and learning to the student group working in the project for the entire duration of the projects. Mentors also publish articles and Do-It-Yourself's they believe will help students ramp themselves up for participation in different projects.</p>
<p>If you're a student, there are many ways in which you can use Step2. You can join a full time project and work closely with a mentor as part of a student team. If you're not ready for that, you can read the articles and pursue the DIY's(Do-It-Yourself's) posted by mentors on your own.</p>
<p>Or, if you have a good project idea that you would like to see being implemented, just go ahead and register yourself as a mentor. You can use Step2's online project management capability to power your plans and execute them with the help of students who enroll for your project.</p>
<p>And if you don't know what to do, just relax and hang around for a bit. As Woody Allen put so succinctly: 90% of success is showing up!</p>
{% endblock %}
