<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang>
<head>
<!-- 960.gs css files -->
<link rel="stylesheet" type="text/css" href="/site_media/css/960.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/text.css" />

<link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
{% block stylesheets %}{% endblock %}
<title>{% block title %}Step2{% endblock %}</title>
</head>
<body>
<div id="main" class ="container_12">
<div id="header" class="grid_12">
  <div id="logo"></div>
  <h2 id="caption">weaving ideas</h2>
  <span class="header_top_sec rightmost">
    <input id="site_search_input" value="Site Search"></input>
  </span>
  <span class="header_top_sec">
    <a class="social_link" id="twitter_link" href="http://twitter.com/step_2"></a>
    <a class="social_link" id="facebook_link" href="http://www.facebook.com/pages/Step2-We-help-weave-ideas/110614852319872"></a>
    <a class="social_link" id="linkedin_link" href="http://linkedin.com/step_2"></a>
  </span>
  <span class="header_top_sec"><a href="/feedback">Feedback</a></span>
  <span class="header_top_sec"><a href="/contact_us">Contact Us</a></span>
<div id='user_login' style='clear:right'>
{% if user.is_authenticated %}
    Hola! {{ user.username }} <span class='rounded_button_left_img'></span><a class='rounded_button' href='/accounts/logout'>logout</a><span class='rounded_button_right_img'></span>
{% else %}
    <span class='rounded_button_left_img'></span><a class='rounded_button' id='login_button' href='/accounts/login'>login</a><span class='rounded_button_right_img'></span>
<div id='no_login_links'>
  <a id='register_link' href='/accounts/register'>Register as a new user</a>
  <a id='change_password_link' href='/accounts/password/change'>Forgot Password</a></div>
{% endif %}

</div>
<div id="navigation_bar">
{% block nav_home %} <a href="/home">Home</a>{% endblock %}
{% block nav_projects %} <a href="/projects">Projects</a>{% endblock %}
{% block nav_forums %} <a href="/forums">Forums</a>{% endblock %}
{% block nav_resources %}  <a href="/resources">Resources</a>{% endblock %}
{% block nav_people %} <a href="/people">People</a>{% endblock %}
{% block nav_about_us %}  <a href="/about_us">About Us</a>{% endblock %}
</div>
</div>

<div class="clear"></div>

{% block content %}{% endblock %}

<div id="footer" class="grid_12">
</div>
{% block javascript %}{% endblock %}
</div>
</body>
</html>
