<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<!-- 960.gs css files -->
<link rel="stylesheet" type="text/css" href="/site_media/css/960.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/text.css" />

<link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
{% block stylesheets %}{% endblock %}
<title>{% block title %}Step2{% endblock %}</title>
</head>
<body>
<div id="main" class ="container_12">
<div id="header" class="grid_12">
  <div id="logo"></div>
  <h2 id="caption">weaving ideas</h2>
  <span class="header_top_sec rightmost">
    <input id="site_search_input" value="Site Search"></input>
  </span>
  <span class="header_top_sec">
    <a class="social_link" id="twitter_link" href="http://twitter.com/step_2"></a>
    <a class="social_link" id="facebook_link" href="http://www.facebook.com/pages/Step2-We-help-weave-ideas/110614852319872"></a>
    <a class="social_link" id="linkedin_link" href="http://linkedin.com/step_2"></a>
  </span>
  <span class="header_top_sec"><a href="/feedback">Feedback</a></span>
<hr style="width: 1px; height: 20px; display: inline;">
  <span class="header_top_sec"><a href="/contact_us">Contact Us</a></span>

<div id="navigation_bar">
  <a class="active" href="/home">Home</a>
  <a href="/projects">Projects</a>
  <a href="/forums">Forums</a>
  <a href="/resources">Resources</a>
  <a href="/people">People</a>
  <a href="/about_us">About Us</a>
</div>
</div>

<div class="clear"></div>

<div id="maincontent" class="grid_12">
{% block maincontent %}{% endblock %}
</div>
<div class="clear"></div>
<div id="footer" class="grid_12">
</div>
{% block javascript %}{% endblock %}
</div>
</body>
</html>
