/*general styles*/
input {
   -moz-border-radius: 10px;
}

span.header_top_sec {
    float: right;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 2px solid #bbb;
}

#header .rightmost {
    border-right: none;
}

span.header_top_sec a {
    font-size: 0.9em;
    text-decoration: none;
    color: black;
}

span.header_top_sec a:hover {
    text-decoration: underline;
}

.social_link {
    padding: 2px 12px;
}

a {
    color: #832517;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rounded_button, .rounded_button_left_img, .rounded_button_right_img {
    padding-top: 4px;
    padding-bottom: 4px;
}

.rounded_button {
    background: url('/site_media/img/button.png') repeat-x 0px 0px;
    color: #fff;
}

.rounded_button_left_img {
    background:url('/site_media/img/sprite.png') no-repeat -178px 0px;   
    padding-left: 12px;
    padding-right: 12px;
}

.rounded_button_right_img {
    background:url('/site_media/img/sprite.png') no-repeat -212px 0px;   
    padding-left: 12px;
    padding-right: 12px;
}

/*specific styles*/

body {
    background-color: #D4D4D4;
}

div#header {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}

div#logo {
    background:url('/site_media/img/sprite.png') no-repeat 0px 0px;
    height: 100px;
    width: 180px;
    float: left;
}

#caption {
    color:#832517;
    float:left;
    font-size:1.2em;
    font-weight:normal;
    margin-left:-115px;
    margin-top:60px;
}

#twitter_link {
    background:url('/site_media/img/sprite.png') no-repeat -305px 0px;   
}

#facebook_link {
    background:url('/site_media/img/sprite.png') no-repeat -353px 0px;   
}

#linkedin_link {
    background:url('/site_media/img/sprite.png') no-repeat -280px 0px;   
}

#site_search_input {
    background:url('/site_media/img/sprite.png') no-repeat -740px 2px;
    padding-left: 20px;
}

#navigation_bar {
    height: 30px;
    background-color: #832517;
    clear: left;
    padding-top: 10px;
    padding-left: 10px;
}

#navigation_bar a {
    color: #fff;
    text-decoration: none;
    width: 40px;
    padding-bottom: 40px;
    padding-top: 3px;
    margin: 0 5px;
    font-weight: bold;
}

#navigation_bar a:hover {
    color: #E66A20;
}

#navigation_bar a.active {
     background:url('/site_media/img/sprite.png') no-repeat -593px 30px;   
}

div#main {
/*    padding: 20px 5px;*/
    background-color: #fff;
}

a#login_button {
    padding-left: 5px;
    padding-right: 5px;
}

div#user_login {
    text-align: right;
    margin-top: 50px;
}

div#no_login_links {
    margin: 10px 5px;
}
div#no_login_links a {
    padding: 5px;
    font-size: 0.9em;
    color: #2660BD;
}

a#register_link {
    border-right: 2px solid #bbb;
}

form#login_form {
    display: inline;
}

input#login_username, input#login_password {
    margin-left:10px;
    width:125px;
}

a#login_button, a#logout_button {
    text-decoration: none;
}

#footer {
    text-align: center;
    padding: 10px 0;
    color: #555;
}

#footer p{
    margin-bottom: 5px;
}