#navigation_bar a.active {
    background-position: -584px 30px;
}

#project_description {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4 url('/site_media/img/gradient.png') repeat-x 0px 0px;
}

#project_description h1 {
    font-size: 1em;
    color: #621E0B;
    font-weight: bold;
}

#project_tasks h2, #project_forum h2 {
    background-color: #525252;
    color: #fff;
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 20px;
}

#dialog_add_task label {
    display: block;
    margin-top: 10px;
}

#dialog_add_task textarea {
    width: 250px;
    height: 100px;
}

a#add_task {
    float: right;
    font-weight: bold;
}