{% extends "base.html" %}

{% block content %}

{% if object %}
  <h1>Update project</h1>
{% else %}
  <h1>Create a project<h1>
{% endif %}

{% if form.errors %}
<h2>Please correct the following error {{ form.errors }}:</h2>
{% endif %}


<form action="." method="post">{% csrf_token %}
<p>{{ form.name.label_tag }} {{ form.name }}</p>
<p>{{ form.description.label_tag }} {{ form.description }}</p>
<p>{{ form.owner.label_tag }} {{ form.owner }}</p>
<p>{{ form.created_by.label_tag }} {{ form.created_by }}</p>
<p>{{ form.members.label_tag }} {{ form.members }}</p>
<p>{{ form.state.label_tag }} {{ form.state }}</p>
<p>{{ form.required_skills.label_tag }} {{ form.required_skills }}</p>
<input type="submit" value="Submit" />
</form>

{% endblock %}
